* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-grow: 1;
    padding: 1rem;
    background-color: #525050;
    color: #fff;
}

a {
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.container .box{
    width: 600px;
    align-self: center;
    text-align: center;
    padding: 2rem;
    border-width: 1px;

}
.container .header {
    background-color: #525050;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 2rem;

}
.container .sub-header {
    background-color: #706e6e;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;

}
.container .card {
    margin-bottom: 5px;
    padding: 10px;

    box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:7px;
	border:1px solid #1f2f47;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}



/* Input CSS Style */
.todo-input{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}


/* Buttom CSS Style */
.btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.btn:active {
	position:relative;
	top:1px;
}

label {

	font-family: 'Heebo', sans-serif;
	font-size: 1.375rem;
	font-weight: 500;
	letter-spacing: 0.115rem;
	font-style: normal;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #FFFFFF;
	border-radius: 1.25rem;
	-webkit-border-radius: 1.25rem;
	-moz-border-radius: 1.25rem;
	padding: 0.6875rem 0.8125rem;
	border-style: solid;
	border-width: 0.0625rem;
	border-color: #ffffff;
	
	}